body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header,
main,
footer {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

nav {
	display: flex;
	align-items: center;
	gap: 1rem;
}

nav i {
	font-size: 1.3rem;
}

main,
section {
	display: flex;
	flex-direction: column;
}

main {
	border: 2px solid lavender;
	gap: 4rem;
}

section {
	gap: 1rem;
}

.intro-header p {
	padding-top: 0.25rem;
}

.intro-description {
	max-width: 500px;
}

.links-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0;
}

.link-arrow {
	color: var(--color-link);
	transform: rotate(-45deg);
}

.color-div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cards-grid {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.project-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project-links {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-top: 0.5rem;
}

.space-elements {
	justify-content: space-between;
}

.tech-list {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	padding: 0.25rem, 0;
	margin-top: 0.25rem;
}

.tech-list div {
	padding: 0.1rem 0.5rem;
	padding-left: 0;
	border-radius: var(--border-radius-small);
}

.tech-list p {
	font-size: 0.8rem;
}

.card-button-secondary {
	padding: 0 0.2rem !important;
}

.project-description {
	text-align: start;
	font-size: 0.9rem !important;
}

.project-information {
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
}

.text-center {
	margin: auto;
	text-align: center;
}

.img-border {
	border: 1px solid var(--border-secondary);
	border-radius: var(--border-radius-small);
	padding: 1rem;
}

.img-center {
	margin: auto 0;
}

@media (min-width: 640px) {
	.project-card {
		flex-direction: row;
	}

	.project-card .img-div {
		max-width: 30%;
	}

	.project-description {
		font-size: 1rem !important;
	}
}
